@model  Thesis.ViewModels.GameCategoryViewModel

@{
    ViewBag.Title = "EditGame";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <h2>Edytuj grę </h2>
        </div>
        @Html.Partial("_GameData")
    </div>
</div>